.bg {
  background-image: url("https://samruthven.github.io/40661967/assets/house.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
