.bg {
  background-image: url("https://samruthven.github.io/40661967/assets/house.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #121314;
}
